* {
    margin: 0;
    padding: 0;
}

.header {
    background: red;
    height: 100px;
}

.footer {
    background: red;
    height: 100px;
}

.container {
    width: 980px;
    margin: 0 auto;
}

.hiding {
    background: blue;
    padding: 10px;
}

.sticky {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background: Green;
}